.App {
  text-align: left;
  background-color: #282c34;
  min-height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: first baseline;
}
.App_header {
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: 15px;
  margin-left: 15px;
}
.button_Style {
  margin: 15px;
}
.Content_Style {
  margin: 15px;
  color: white;
  text-align: justify;
  text-justify: inter-word;
}
